.facility-card {
    width: 222px !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

.facility-card-body {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.facility-card-body img {
    display: block;
    width: 220px;
    height: 190px;
    margin: 0;
    padding: 0;
}

.facility-card-body p {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    background-color: #BA4A6E;
    color: white;
}