.content-display {
    max-height: 3500px;
    padding: 0;
    display: flex;
    /*flex-flow: column wrap;*/
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.recent-new-title {
    font-size: 1.5rem !important;
    padding: 0 !important;
    margin: 0 !important;
}

@media screen and  (max-width: 500px) {
    .content-display {
        max-height: 6000px;
        flex-flow: column nowrap;
        align-items: center;
    }
}
