.speech {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.speech p {
    position: relative;
    display: grid;
    line-height: 3;
    text-align: left;
    font: 20px Gill Sans;
    letter-spacing: 0px;
    color: #191A1D;
    opacity: 1;
}

.speech strong {
    text-align: center;
    font: normal normal normal 23px/42px Lora;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
}
