.font-primary {
    font-family: Gill, sans-serif;
    font-size: 20px;
    color: #191919;
}

.header-img {
    position: relative;
    display: block;
}

.header-img img {
    position: relative;
    display: block;
    /*height: 50rem;*/
    height: 480px;
    width: 100%;
}

.note-lists {
    width: 100%;
    height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #F5F5F569;
}

.note-lists ul {
    position: relative;
    /*display: grid;*/
    display: flex;
    flex-flow: row wrap;

    /*grid-template-columns: repeat(5, auto);*/
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    /*grid-gap: 10px 60px;*/
    /*width: 100%;*/
    width: 80%;
    /*text-transform: capitalize;*/
}

.note-lists ul li {
    list-style: none;
    text-transform: capitalize;
    margin: 1rem 2rem;

}

.note-lists ul li a {
    color: #191919;
}

.bread-crumbs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(97 94 94 / 23%);
    align-items: center;
    /*height: 5rem;*/
    height: 4rem;
}

.bread-crumbs .bold {
    position: relative;
    margin: 0 10px 0 0;
    /*top: 40%;*/
    text-align: left;
    font-size: 20px;
    font-family: Gill, sans-serif;
    letter-spacing: 0;
    color: #191919;
    opacity: 1;
}

.bread-crumbs ul {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 0;
    /*top: 40%;*/
}

.bread-crumbs ul li {
    list-style: none;
    text-align: left;
    font: 16px Gill;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
}

.bread-crumbs ul li::after {
    content: '\003e	';
    margin: 0 10px;
}

.bread-crumbs ul li::after:last-child {
    content: '';
}

/*.bread-crumbs ul li + li + li::after {*/
/*    content: '';*/
/*}*/

.make {
    top: 10%;
}

.intro {
    border-bottom: 1px solid rgba(97 94 94 / 23%);

    /*padding-top: 2rem;*/
    padding-top: 1rem;
}


.intro small {
    text-align: left;
    font: normal normal 600 16px/19px Gill Sans;
    letter-spacing: 6px;
    color: #BA4A6E;
    text-transform: uppercase;
    opacity: 1;
}

.intro header {
    text-align: left;
    font: normal normal normal 46px/59px Lora;
    letter-spacing: 0px;
    color: #191A1D;
    opacity: 1;
}


.speech {
    /*height: 30rem;*/
    height: auto;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: flex-start;
}

.speech p {
    position: relative;
    display: grid;
    line-height: 3;
    text-align: left;
    font: 20px Gill Sans;
    letter-spacing: 0px;
    color: #191A1D;
    opacity: 1;
    font-family: Gill, sans-serif;

}

.speech strong {
    text-align: center;
    font: normal normal 500 23px/42px Lora;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
}

.calendar-date {
    font-weight: bold;
    font-style: italic;
    display: block;
}

.calendar-date::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #BA4A6E;
    margin-right: 10px;
    display: inline-block;
}

.calendar-title {
    display: block;
    margin-left: 15px;
}

@media (min-width: 1200px) {
    .create {
        justify-content: center;
        text-align: center;
        /*margin-top: 10rem;*/
        margin-top: 5rem;
        margin-bottom: 10rem;
    }
}

@media (max-width: 780px) {

    .header-img img {
        position: relative;
        display: block;
        /*height: 100%;*/
        height: 480px;
        width: 100%;
    }

    .note-lists {
        width: 100%;
        height: 10rem;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: #F5F5F569;
    }

    .note-lists ul {
        position: relative;
        /*display: grid;*/
        display: flex;
        flex-flow: row wrap;
        /*grid-template-columns: repeat(3, auto);*/
        justify-content: center;
        align-content: center;
        /*text-align: center;*/
        align-items: center;
        /*grid-gap: 25px 15px;*/
        width: 100%;
        /*text-transform: capitalize;*/
    }

    .note-lists ul li {
        list-style: none;
        text-transform: capitalize;
        font-size: 10px;
    }

    .card-body {
        border: none;
    }

    .bread-crumbs ul {
        width: 50%;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 43%;
    }

    .bread-crumbs .bold {
        position: relative;
        margin: 0;
        top: 40%;
        text-align: left;
        font: 14px Gill Sans;
        letter-spacing: 0px;
        color: #191919;
        opacity: 1;
    }

    .bread-crumbs ul li {
        list-style: none;
        text-align: left;
        font: 11px Gill Sans;
        letter-spacing: 0px;
        color: #191919;
        opacity: 1;
        white-space: nowrap;
    }

    .intro header {
        text-align: left;
        font: normal normal normal 30px Lora;
        letter-spacing: 0px;
        color: #191A1D;
        opacity: 1;
    }
}
