.title {
    font: normal normal normal 25px/59px Lora;
    font-weight: 400;
    color: #d0136b;
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
    line-height: 150%;
}

.content {
    border-bottom: gray 1px solid;
    padding-bottom: 3rem;
}

.thumbnail {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5px 5px 0 0;
    margin-bottom: 1rem;
}
