.formWrapper {
    text-align: left;
    border: none;
    padding-bottom: 0;
}

.selectControl {
    width: 30% !important;
}

@media screen and (max-width: 500px) {
    .selectControl {
        width: 100%;
    }
}
