.graduate{
    height: 36rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.grad1{
    background-color: #E375A941;
    height: 30%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.grad3{
    height: 30%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 28%;
    align-items: center;
}

.grad3 h3 {
    text-align: center;
    font: normal normal normal 18px/25px Gill;
    letter-spacing: 0px;
    color: #191A1D;
    text-transform: capitalize;
    opacity: 1;
    width: 50%;
}

.grad3 img {
    width: 60px;
    height: 60px;
}

.grad3 h1{
    text-align: center;
    font: normal normal 600 43px/52px Gill Sans;
    letter-spacing: 0px;
    color: #BA4A6E;
    opacity: 1;
}

.grad2{
    background-color: #E375A941;
    height: 50%;
    margin: 10px;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grad13 h3 {
    text-align: center;
    font: normal normal normal 16px/25px "Gill";
    letter-spacing: 0px;
    color: #191A1D;
    text-transform: capitalize;
    opacity: 1;
}

.grad13 img {
    width: 60px;
    height: 60px;
}

.grad13 h1{
    text-align: center;
    font: normal normal 600 43px/52px Gill Sans;
    letter-spacing: 0px;
    color: #BA4A6E;
    opacity: 1;
}
