:root {
    --primary: #fff;
}

.btn {
    padding: 5px 30px !important;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn--primary {
    background-color: var(--primary);
    color: #0096c8;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: #BA4A6E;
    color: #fff;
    padding: 5px 30px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    font-size: 1.0rem;
    font-width: 500;
    position: relative;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: #BA4A6E !important;
    border: none;
    position: relative;
    display: block;
    color: #fff !important;

}

.btn--medium:hover {
    color: #fff;
    /* border: 1px solid white; */
    text-decoration: none;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    background-color: #0096c8;
    width: 15rem;
    text-decoration: none;
    position: absolute;
    display: block;
    transform: translate(1%, 40%);
}

.btn--large:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}


.btn--large:hover:after{
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    content: "";
    text-decoration: none;
}





.btn--clark{
    padding: 12px 26px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    background-color: #fff;
    width: 15rem;
    text-decoration: none;
    color: #0096c8;
}

.btn--large:hover{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}


.btn--large:hover:after{
    transition: 0.3ms ease-out;
    transition: 250s;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    content: "";
    text-decoration: none;
}

@media (max-width:768px) {

    .btn--large{
        width: 11rem;
    }
    
}
