@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.slick-dots {
  position: absolute;
  bottom: 24rem;
  width: 2%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: grid;
  right: 14px;
  color: white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "";
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: white;
  background-color: white;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slider {
  overflow: hidden;
}

.Name-head {
  justify-content: center;
  text-align: center;
  display: grid;
  margin-top: 5rem;
}

.Name-head > h1 {
  font: italic normal normal 50px/66px "Lora";
  color: #ba4a6e;
  /* text-transform: ; */
}
.Name-head1 {
  text-align: start;
  display: flex;
  margin-top: 5rem;
}

.Name-head1 > h1 {
  font: italic normal normal 50px/66px "Lora";
  color: #ba4a6e;
}
.Name-head p {
  text-align: center;
  font: normal normal 300 28px/32px "Gill";
  letter-spacing: 0px;
  color: #191919;
  opacity: 1;
  width: 65rem;
  margin-top: 2rem;
}

.Name-head center hr {
  width: 7rem;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #ba4a6e;
  color: #ba4a6e;
  height: 5px;
  border: none;
  border-radius: 20px;
  margin-top: 2rem;
}

.Keep {
  justify-content: center;
  display: flex;
  height: 24rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.Keep1 {
  justify-content: center;
  display: flex;
  justify-content: center;
  display: flex;
  height: 24rem;
  width: 100%;
  background-size: cover;
  border-radius: 2px;
  margin-bottom: 2rem;
  position: relative;
  background-size: cover;
  border-radius: 2px;
}

.overlay-7 {
  background-color: #e375a9;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 0;
  opacity: 0;
  transform: scaleY(1);
  transition: 0.5s ease-out;
}

.overlay-7:hover {
  opacity: 1;
  justify-content: center;
  display: block;
  text-align: center;
  width: 100%;
}

.overlay-7:hover h2 {
  position: relative;
  animation: mymove 2s;
  text-align: center;
  font: normal bold normal 22px/30px "Gill";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  top: 10%;
}

.cardWrapLink {
    display: block !important;
    text-decoration: none;
}

.cardWrapLink:hover {
    text-decoration: none;
}

.socialHandleText {
    color: #0b2362;
}

@keyframes mymove {
  from {
    top: 300px;
  }

  to {
    top: 40px;
  }
}

.overlay-7:hover p {
  width: 80%;
  justify-content: center;
  position: relative;
  display: block;
  top: 30%;
  text-align: left;
  left: 10%;
}

.overlay-7:hover .link {
  width: 90%;
  justify-content: center;
  position: relative;
  display: block;
  top: 45%;
  text-align: right;
  font-size: 17px;
  font-style: italic;
  color: white;
  text-decoration: none;
}

.Keep1 h1 {
  position: absolute;
  bottom: 40px;
  text-align: left;
  font: normal bold normal 22px/30px "Gill";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
}

.Keep h1 {
  position: absolute;
  bottom: 40px;
  text-align: left;
  font: normal bold normal 22px/30px "Gill";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
}

.cont-move {
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}

.Overlay {
  display: none;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 100% !important;
}
.card-body {
  border-bottom: 4px solid black;
  margin-left: 2rem;
  margin-right: 2rem;
}

.bunt {
  border-bottom: 4px solid transparent;
  text-align: end;
}
.card-body center hr {
  width: 7rem;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #ba4a6e;
  color: #ba4a6e;
  height: 5px;
  border: none;
  border-radius: 20px;
  margin-top: 2rem;
}

.card-title {
  font: italic normal normal 50px/66px "Lora";
  color: #ba4a6e;
  text-align: center;
}
.card-subtitle {
  text-align: left;
  /* font: normal normal 600 24px/29px "Gill"; */
  letter-spacing: 0px;
  color: #ba4a6e;
  opacity: 1;
  margin-top: 4rem;
  font-family: "Gill";
  font-size: 24px;
  font-weight: bolder;
}

.card-subtitle h6 {
  margin-top: 4rem;
  font-family: "Gill";
  font-size: 24px;
  font-weight: bolder;
}

.but-links {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: 0%;
}

.but-links .first-link {
  text-align: left;
  font: normal normal normal 25px/29px "Gill";
  letter-spacing: 0px;
  color: #191919 !important;
  opacity: 1;
  position: relative;
  display: block;
}

.but-links .sec-link {
  font: italic 25px/29px "Gill ";
  letter-spacing: 0px;
  color: #1cb0ff;
  opacity: 1;
  text-align: right;
  position: relative;
}

.sec-link1 {
  text-align: right;
  font: normal normal 500 25px/29px "Gill";
  letter-spacing: 0px;
  color: #191919;
  opacity: 1;
  width: 50%;
}

.sec-link1::after {
  content: "\00bb";
  margin: 0 14px;
}

.card-text {
  text-align: left;
  font: normal normal normal 23px/26px "Gill ";
  letter-spacing: 0px;
  color: #191919;
  opacity: 1;
  margin-top: 2rem;
  height: 50%;
}

.card-in {
  position: relative;
  flex-direction: row;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 100% !important;
}
.body-card {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  width: 100%;
}
.body-card1 {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.img-card {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  flex-shrink: 0;
}

.shed-img {
  width: 60px;
  height: 60px !important;
  border-radius: 40px;
}

.ann-card {
  display: flex;
  width: 55%;
  justify-content: space-between;
}

.ann-card h5 {
  text-align: left;
  font: normal normal medium 14px/23px "Avenir";
  letter-spacing: 0px;
  color: #0b2362;
  opacity: 1;
}

.ann-card a {
  text-align: left;
  font: normal normal medium 17px/23px Avenir;
  letter-spacing: 0px;
  color: #0b2362;
  opacity: 1;
}

.date--card {
  text-align: left;
  font: normal normal normal 18px/24px "Gill";
  letter-spacing: 0px;
  color: #191919;
  opacity: 1;
}

.ann-card1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ann-card12 {
  display: flex;
  justify-content: space-between;
  width: 75%;
  position: relative;
  display: flex;
}
.text-card {
  text-align: start;
  width: 70%;
  text-align: left;
  font: bold bold normal 18px/24px "Gill";
  letter-spacing: 0px;
  color: #191919;
  opacity: 1;
  margin-top: 3rem;
}

.text-card1 {
  display: block;
  justify-content: center;
}

.text-card1 h5 {
  height: 5rem;
  text-align: start;
  width: auto;
  text-align: left;
  letter-spacing: 0px;
  color: #191919;
  opacity: 1;
  display: grid;
  margin-top: 1rem;
  font-family: "Gill";
  font-size: 18px;
}

.clan h5 {
  text-align: left;
  font: normal normal medium 15px/23px;
  letter-spacing: 0px;
  color: #0b2362;
  opacity: 1;
}

.clan1 h5 {
  text-align: left;
  font-size: 17px;
  letter-spacing: 0px;
  color: #0b2362;
  opacity: 1;
}

.clan1 a {
  text-align: left;
  font-size: 17px;
  letter-spacing: 0px;
  color: #0b2362;
  opacity: 1;
}

.date-card {
  white-space: nowrap;
}

.date-card h4 {
  font: 16px;
  letter-spacing: normal;
  color: #191919;
/*   font: normal normal normal 18px/24px "Gill"; */
  }

a {
  text-align: left;
  font: normal normal medium 17px/23px Avenir;
  letter-spacing: 0px;
  color: #0b2362;
  opacity: 1;
}

.stretch-card {
  height: 71rem;
}

@media screen and (max-width: 960px) {
  .Name-head {
    justify-content: center;
    text-align: center;
    display: grid;
    margin-top: 2rem;
    position: relative;
  }

  .Name-head > h1 {
    font: italic normal normal 25px Lora;
    color: #ba4a6e;
  }

  .Name-head p {
    text-align: center;
    font: normal normal 500 16px/27px "Gill";
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
    width: auto;
    margin-top: 0rem;
  }

  .Name-head center hr {
    width: 7rem;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #ba4a6e;
    color: #ba4a6e;
    height: 5px;
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
  }

  .card-text {
    text-align: left;
    font: normal normal 500 16px/20px "Gill";
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
    margin-top: 2rem;
    height: 25%;
    margin-bottom: 3rem;
  }

  .stretch-card {
    height: 52rem;
  }

  .card-body {
    border-bottom: 4px solid black;
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    height: 50rem;
  }

  .but-links .first-link {
    text-align: left;
    font: normal normal normal 16px/29px "Gill";
    letter-spacing: 0px;
    color: #191919 !important;
    opacity: 1;
    position: relative;
    display: block;
  }

  .but-links .sec-link {
    font: italic 16px/29px "Gill ";
    letter-spacing: 0px;
    color: #1cb0ff;
    opacity: 1;
    text-align: right;
    position: relative;
  }

  .Name-head1 {
    text-align: start;
    display: flex;
    margin-top: 1rem;
  }

  .connected {
    /* top: 45rem; */
    position: relative;
  }

  /* .cont{
    top: 4rem;
} */

  .card-subtitle {
    margin-top: 1.625rem !important;
    margin-bottom: 0;
    font-size: 18px !important;
    /* font-weight: bold !important; */
  }

  .card-title {
    margin-bottom: -1.2rem !important;
  }

  .card-body + .card-body + .card-body {
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    height: 20rem;
    border-bottom: none;
  }

  .Keep {
    justify-content: center;
    display: flex;
    height: 18rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    margin: 0 0 20px 0;
  }

  .overlay-7 {
    background-color: #e375a9;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 0;
    opacity: 0;
    transform: scaleY(1);
    transition: 0.5s ease-out;
  }

  .cont-move {
    justify-content: center;
    display: flex;
    margin-top: 0;
  }

  .card-body center hr {
    width: 4rem;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #ba4a6e;
    color: #ba4a6e;
    height: 5px;
    border: none;
    border-radius: 20px;
    margin-top: 2rem;
  }

  .Name-head1 > h1 {
    font: italic normal normal 30px/66px "Lora";
    color: #ba4a6e;
  }
}

@media (min-width: 900px) {
  .hider {
    display: block;
  }

  .hiding {
    display: none !important;
  }
  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
  }
}

@media screen and (max-width: 856px) {
  .hider {
    display: none !important;
  }

  .hiding {
    display: flex !important;
  }

  .hide {
    display: none;
  }

  .smooth {
    position: relative;
  }

  .slick-slider {
    overflow: hidden;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .stretch-card {
    height: auto;
  }

  .card-body {
    border-bottom: 4px solid black;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
  }

  .card-text {
    text-align: left;
    font: normal normal normal 20px/26px "Gill ";
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
    margin-top: 2rem;
    height: 50%;
    margin-bottom: 1.2rem;
    padding: 1rem 0.8rem;
  }

  .bunt {
    border-bottom: none;
    text-align: end;
  }
}
@media screen and (max-width: 1250px) {
  .Keep {
      height: 28rem;
  }
  .overlay-7 {
    background-color: #e375a9;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 0;
    opacity: 0;
    transform: scaleY(1);
    transition: 0.5s ease-out;
  }
}

