@media (min-width: 1200px) {


.footer{
    box-sizing: border-box;
    display: blocK;
    background-color: #BA4A6E;
    width: 100%;
    height: 50vh;
    color: #ffffff;
    text-decoration: none;
    position: relative;

}



.Gap{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: 12rem;
            margin-top: 4rem;

}

.Gap img{
    width: 10rem;
}

.use{
    color: #ffffff !important;
    font-family: 'Gill';
    font-weight: 700;
    display: flex;
    text-align: left;
}


/* .form {
    width: 50%;
    height: 3, 5em;
    color: rgba(165, 155, 155, 0.26);
} */


.usefuls{
        margin-top: 4rem;
    justify-content: center;
    display: grid;
}
.useful1{
        margin-top: 4rem;
    justify-content: center;
    display: block;
    text-align: left;
}


.Army{
    justify-content: center;
    align-items: center;
        text-align: center;
}
.Army1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}


.range {
    position: relative;
    margin-left: 7em;
    font-size: 17px;
    font-weight: 100;
    font-family: 'Gill';
}





.img-bann{
    position: absolute;
    display: grid;
    top: 48px;
}

.carr-add{
    margin-top: 8rem;
    position: relative;
    display: block;
    height: 18rem;
}

}


/* .submit {
        display: inline-grid;
        color: #ffffff;
        top: 2.87em;
        height: 2.4em;
        right: 50%;
        border-radius: 0px 8px 8px 0px;
        border: hidden;
        padding-top: 13px;
        font-family: 'Gill';

} */


.footer{
    box-sizing: border-box;
    display: blocK;
    background-color: #BA4A6E;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    position: relative;

}


.divider{
    width: 100%;
    /* content: ""; */
    border-bottom: 1px solid #ffffff;
    display: block;
    text-align: right;
    justify-content: end;
}

.divider h4{
        font-size: 12px;

}

.use{
    color: #ffffff !important;
    font-family: 'Gill';
    font-weight: 700;
    display: flex;
    text-align: left;
}


.layer{
    opacity: 0.2;
    transition: 0.5s;
    width: 130px;

}

.layer:hover{
    opacity: 1.0;
}


.copyrights{
    padding-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.link {
    color: white;
}

.link:hover {
    text-decoration: none;
    color: white;
}

.lined{
    font-size: 16px;
    font-family: 'Gill';
    font-weight: 700;
}

.titing > li{
    font-size: 14px;
    white-space: nowrap;
    font-family: 'Gill';
    font-weight: 600;
}

.dxt:hover {
    text-decoration: underline ;
}

.dxty{
    background-color: #ced4da44;
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: grid;
    border-radius: 100%;
    justify-content: center;
}

.dxty img{
    position: relative;
    top: 10%;

}

.fullyear{
        font-size: 12px;
        position: relative;
}

.policy {
    position: relative;
    display: flex;
    width: 10%;
    justify-content: space-between;
    font-size: 12px;
}


.divide{
    content: "";
    border-right: 2px solid #ffffff;
    display: flex;
    height: 1rem;
}


.controller-input{
    display: flex;
    position: relative;

}

.controller-input input{
    position: relative;
    text-align: start;
    width: 80%;
    display: grid;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px 0px 0px 5px;
        height: 3rem;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.controller-input button{
    position: relative;
    text-align: start;
    width: 20%;
    border-radius: 0px 5px 5px 0px;
    line-height: 1.5;
    height: 3rem;
    border: none;
    color: #BA4A6E;
    border-left: 1px solid #BA4A6E;
    background-color: #fff;

}





        .hit {
            height: 1px;
            margin-top: 10px;
            margin-bottom: 17px;
            border-bottom: #ffffff 1px solid;
}

        @media(max-width:960px) {
            /* .submit {
                position: absolute;
                color: #ffffff;
                top: 2.86em;
                height: 2.4em;
                right: 0;
                margin-right: 1rem;
                border-radius: 0px 8px 8px 0px;
                border: hidden;
                display: inline-grid;
                padding-top: 13px;
                font-family: 'Gill';
                width: 7rem;
            } */

            .footer{
            box-sizing: border-box;
            display: blocK;
            background-color: #BA4A6E;
            width: 100%;
            color: #ffffff;
            text-decoration: none;
            position: relative;
            }

            .Gap{
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: space-between;
            height: 12rem;
            margin-top: 4rem;

}

.Gap img{
    width: 10rem;
}

.carr-add{
    margin-top: 2rem;
    position: relative;
    display: block;
    height: 15rem;
    left: 17%;
}

.img-bann{
        left: -6%;
    position: relative;
    top: 48px;
}

.policy {
    position: relative;
    display: flex;
    width: 18%;
    justify-content: space-between;
    font-size: 10px;
}

        }





        .footer{
            overflow: hidden;
            }
