.rec-arrow-left {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 0 2px 0px #ffffff;
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    display: grid;
    right: 180px;
    margin-top: 25rem;
}

.rec-arrow-right {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 0 2px 0px #ffffff;
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    display: grid;
    right: 130px;
    margin-top: 25rem;
}

.rec-arrow-right :hover{
    background-color: #ffffff !important;
}

.cGKbZh {
      box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: rgb(255 255 255 / 10%) !important;
    color: #333;
    box-shadow: 0 0 2px 0px #333;
    border-radius: 0 !important;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
}


.fzCwXm{
    box-sizing: border-box ;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: rgb(255 255 255 / 10%) !important;
    color: #333;
    box-shadow: 0 0 2px 0px #333;
    border-radius: 0 !important;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
}


.sc-bdnxRM .cGKbZh .rec .rec-arrow .rec .rec-arrow-right:hover:enabled,.sc-bdnxRM .cGKbZh .rec .rec-arrow .rec .rec-arrow-right:focus:enabled
{
    color: rgb(0, 0, 0);
    background-color:  #ffffff !important;
    box-shadow: 0 0 2px 0 #333;
}


.cGKbZh:hover:enabled, .cGKbZh:focus:enabled {
    color: #000 !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0 0 2px 0 #333;
}
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px rgb(0, 0, 0) !important; 
}

.cGKbZh{
        background-color: rgb(255 255 255 / 10%);
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}

.rec.rec-arrow:hover{
    background-color: #fff !important;
}

button.rec-dot{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5);
}

button.rec-dot_active{
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5);
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5);
}

.kgjPQN{
    background-color: whitesmoke !important;
        box-shadow: 0 0 1px 3px #ffffff !important;

}

.kcAFUq{
    border: #ffffff !important;
}

.sc-iqHYGH .kcAFUq .rec .rec-dot{
        border-color: #ffffff !important;

}

/* .xzcEF{
        margin-top: 15px !important;

} */

.jRJXpg, .sc-fujyAs ,.eysHZq{
    display: block !important;
    position: relative !important;
    justify-content: center !important;
    width: 100%;
    text-align: center !important;
    align-items: center !important;
    background-color: #fff !important;
    color: #000 !important;
    height: 634px !important;
    margin: 0px 54px !important;
}

.sc-iCoGMd ,.xzcEF ,.rec ,.rec-pagination{
    justify-content: center !important;
}
/* 
.sc-fujyAs {
    display: block !important;
    position: relative !important;
    justify-content: center !important;
    width: 100%;
    text-align: center !important;
    align-items: center !important;
    background-color: #fff !important;
    color: #000 !important;
    margin: 0px 54px !important;
    height: 724px !important;

}
.eysHZq{
    display: block !important;
    position: relative !important;
    justify-content: center !important;
    width: 100%;
    text-align: center !important;
    align-items: center !important;
    background-color: #fff !important;
    color: #000 !important;
    height: 724px !important;
    margin: 0px 54px !important;
}

.sc-gtsrHT ,.gbOAzg ,.rec ,.rec-item-wrapper{
    margin: 0px 11px !important;
}

.sc-gtsrHT {
        margin: 0px 11px !important;

}
.gbOAzg {
            margin: 0px 11px !important;

}

.rec-item-wrapper {
            margin: 0px 11px !important;

} */

.num-cont{
    position: relative;
    display: flex;
    text-align: left;
    width: 71%;
    left: 5%;
    top: 5%;
    font: normal normal normal 23px/26px "Gill ";
    letter-spacing: 0px;
    color: #191A1D;
}





.click1 {
    background-color: #BA4A6E !important;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 3em;
    color: white !important;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
    font-family: 'Poppins';
    font-weight: 600;
    border: none;
    margin-top: 10px;

}


 .t-tour button:focus{
    outline: none !important;
}

.center{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    overflow: hidden;
    -moz-box-shadow:    inset 0 0 30px  30px     #ffffff;
    -webkit-box-shadow: inset 0 0 30px  30px    #ffffff;
    box-shadow:         inset 0 0 30px 30px     #ffffff;
}


        .t-tour {
            display: grid;
            justify-content: center;
        }

        .t-tour button {
            display: grid;
            justify-content: center;
            width: 100%;
        }

        .sponsors{
            margin-top: 6rem;
            margin-bottom: 6rem;
        }





.sponsors{
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 2rem;
    position: relative;
    overflow-y: hidden;
}


@keyframes spont {
  from {left:0%;}
  to { left:100%; }
}


.micro-7{
    height: 50px;
    transform: s;
}

@media (max-width:960px) {
    .sponsors{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px 20px;
        list-style: none;
        text-align: center;
        width: 100%;
        justify-content: space-between;
        margin: 2rem 2rem;
        position: relative;
        overflow-y: hidden;
}

.rec-arrow-left , .rec-arrow-right{
    display: none;
}

}
