.nav-section__wrapper {
    position: absolute;
    background: transparent;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbarCont {
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #ffffff;
    right: 1rem;
    width: 100%;
}

.navbarContain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

}

.navbarLogo {
    color: #fff;
    justify-self: start;
    /* margin-left: 20px; */
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: grid;
    align-items: center;
    transform: translate(10px, 30px);

}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 30px;
}

.nav-item__social-link {
    display: inline-block;
    height: 32px !important;
    width: auto;
}

.social_link {

}

.nav-item__social-link > img {
    /*width: 32px !important;*/
    /*height: 32px !important;*/
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: Gill, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;

}

.nav-links:hover {
    color: #fff;
    text-decoration: none;
}


.fa-bars {
    color: #fff;
}

.fa-bars:before {
    content: "\f0c9";
    position: relative;
    background-color: #c84137b8;
    padding: 17px;
    border-radius: 30px;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.portal-link, .portal-link:hover {
    display: inline-block;
    background-color: #d0136b;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 1.1rem;
}

@media screen and (max-width: 960px) {
    .navbarCont {
        /* background: #fff; */
        background-color: transparent !important;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: fixed;
        top: 0;
        z-index: 999;
        color: #ffffff;
        right: 0rem;
    }

    .NavbarItems {
        position: relative;
    }

    .bash {
        width: 11rem;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #24222278;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .fa-bars:before {
        content: "\f0c9";
        position: relative;
        background-color: #c859377a;
        border-radius: 30px;
        font-size: 23px;
        padding: 8px 18px 8px 19px;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .active-link {
        font: white;
        border-bottom: 3px solid #d0136b;
        font-size: 1.8rem;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .loggo {
        width: 275px;
    }

    .navbarLogo {
        color: #fff;
        justify-self: start;
        /* margin-left: 20px; */
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
        transform: translate(-50px, -10px);
        position: absolute;
    }

    .navbar {
        background: rgba(0, 0, 0, 0.150);
        height: 60px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-40%, 20%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
        transform: translate(-18px,);
        position: relative;
        background-color: #c859377a;
        border-radius: 30px;
        font-size: 23px;
        padding: 8px 18px 8px 19px;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }

    .portal-link, .portal-link:hover {
        margin: 25px 0;
    }

    .social_link {
        display: none;
    }
}
