.menu-overlay {
    background-color: rgba(186, 74, 110, .45);
    margin-top: -20px;
    width: 100%;
    position: relative;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.menu-container {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.menu-container > a {
    background: transparent;
    color: white;
    font: normal 500 0.9rem "Gill";
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    opacity: 1;
    margin: 1.1rem 0.8rem 2rem;
}
.menu-container > a:hover {
    text-decoration: underline;
    color: white;
    display: inline-block;
    /*padding-bottom: 5px;*/
}
