.event-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    overflow-y: hidden;
    position: relative;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: left;
}

.event-card > .thumbnail {
    width: 100%;
    height: 200px;
    margin: 0 0 20px 0;
    border: none;
}

.event-card-title {
    color: #BA4A6E;
}

.event-card .content {
    height: 194px;
    overflow-y: hidden;
}

.event-card .read-more-wrapper {
    width: 100%;
    background-color: white;
}

.event-card .read-more {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #ea0028;
    border: 1px solid #ea0028;
    padding: 0.4rem 0.9rem;
    border-radius: 20px;
}

.event-date {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 10px;
    color: rgb(0, 100, 38);
}

@media screen and (max-width: 500px) {
    .event-card {
        overflow-y: visible;
        margin: 2rem auto;
    }

    .event-card .content {
        height: 150px;
        overflow-y: hidden;
    }
}
