* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@font-face {
    font-family: Gill ;
    src: url(./Assets/Gill/Gill\ Sans\ Light.otf);
}

@font-face {
    font-family: Gill;
    src: url("./Assets/Gill/Gill Sans Light Italic.otf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Gill;
    src: url("./Assets/Gill/Gill Sans Medium.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Gill;
    src: url("./Assets/Gill/Gill Sans Medium Italic.otf");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: Gill;
    src: url("./Assets/Gill/Gill Sans Bold.otf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Gill;
    src: url("./Assets/Gill/Gill Sans Bold Italic.otf");
    font-style: italic;
    font-weight: 700;
}

@media (min-width: 1200px) {
    .container-lg {
        max-width: 1700px !important;
    }
}

.active-link {
    color: #d0136b !important;
}

.fade-enter {
    opacity: 0.5;
    /*z-index: 10;*/
    transform: translateX(-120vw);
}

.fade-enter.fade-enter__active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 100ms ease-in, transform 250ms ease-in;
}
